:root {
    --Cornflower: #E7E9FC;
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --white: #FFFFFF;
    --state: #434455;
    --cloud: #F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--state);
    background-color: var(--white);
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    /* margin: 0;
  padding: 0; */
    list-style-type: none;
}


h1,h2,h3,p {
    margin-block-start: 0;
    margin-block-end: 0;
    /* margin: 0; */
}

a {
    text-decoration: none;
    font-style: normal;
}

img{
    display: block;
}


nav {
    background-color: var(--white);
}

.headre-nav{
    border-bottom: 1px solid #e7e9fc;
}

.container{
    display: flex;}


.container-header-nav{
    width: 1158px;
}

.container-header-nav{
    margin: 0 auto;
}

.container-header-nav{
    padding: 0 15px;
}

.nav-header{
    display: flex;
    align-items: center;
}

.logo {
    margin-right:76px ;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--iris);
    text-transform: uppercase;
}

.logo-text-2 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--navy-blue);
}

.list-header-logo{
    display: flex;
        gap: 40px;
}



.link-logo {
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--navy-blue);
}

.link-logo:hover {
    color: #404bbf;
}

.link-logo:focus {
    color: #404bbf;
}


.list-header-contacts{
    display: flex;
    gap: 40px;
}

.contacts {
    font-style: normal;
}


.list-contacts {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--state);
}

.list-contacts:hover {
    color: #404bbf;
}

.list-contacts:focus {
    color: #404bbf;
}

.hero-image {
    background-color: var(--navy-blue);
    padding: 188px 0;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    max-width: 496px;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: var(--iris);
    color: var(--white);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #404BBF;
}


.hero-button:focus {
    background-color: #404BBF;
}

.section-no-name{
    padding: 120px 0;
}

.visually-hidden{
    display: none;
}

.list-section-no-name{
    display: flex;
    gap: 24px;
    margin-right: 24px;
}

.list-section-point{
    width: calc((100%-72px) /4);
}

.list-section-2{
    margin-right: 0;
}

.point-list {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}


.paragraf-list {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--state);
}

.section-our-team {
    background-color: var(--cloud);
    padding: 120px 0;
}

.our-section {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.list-section-our{
display: flex;
    gap: 24px;
}

.list-section-team {
    background-color: var(--white);
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
}

.container-name-paragraf{
    padding: 32px 0px;
}


.partner-team {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.job-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--state);
}

.section-our-three{
    padding-top: 120px;
    padding-bottom: 120px;
}

.name-section {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
    
}

.name-section-our{
    margin-bottom: 72px;
}

.list-section-our-three{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}



.list-our-one-list {
    width: calc((100%-48px)/3);
}


.list-our-one {
    color: var(--white);
}


.list-our-2 {
    color: var(--white);
}

.container-section-three {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}


.point-our {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--navy-blue);
    padding-top: 32px;
    padding-bottom: 8px;
}

.paragraf-our {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--state);
}

.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}
.logo{
    display: inline-block;
        margin-bottom: 16px;
    }

.logo-footer-link{
    display: inline-block;
}

.logo-footer-link{
    margin-bottom:16px;
}

.studio {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F4F4FD;
}

.footer-paragraf {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--cloud);
}

.footer-paragraf-p{
    max-width: 264px;
}